/*
;grey ;58585A DDDDDD
;green ;7E9B95  complimentary #9b7e84 lighter #88A59F #92AFA9 #9CB9B3 #A6C3BD #B0CDC7
;brun  #E4E9D2
; oraneg #B56B43   efc9ab
;#dde6e4 light
*/


/*
* GLOBAL
*/
* {
	margin:0;
	padding:0;
	border:none;
	outline:none;
}
html, body {
    overflow-x: hidden !important;
}
body {
	font-size:16px; 
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
	background: none repeat scroll 0 0 #FFFFFF;
}
a, a:link, a:visited {
    color: #B56B43;
    text-decoration: none;
}
a:hover{
    color: #7E9B95;
}
h1, h2, h3 {
    position:relative;
    font-weight: 400;
}
h1{
    color: #7E9B95;
	font-size: 40px;
}
h2{
    color: #B56B43;
	font-size: 35px;
}
h3{
    color: #7E9B95;
	font-size: 25px;
}
.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}


/*
*
* ZONES
*
*/
#section-header {
  min-height:200px;
}
.node-type-service #section-content {
  background: url("/sites/all/themes/poly/img/bg.png") no-repeat scroll 0 0 transparent;
  padding:60px 0;
}
#section-footer{
	background: none repeat scroll 0 0 #7E9B95;
	min-height:400px;
}
/* WRAPPERS */
#zone-image {
  position: absolute;
  top: 0;
  width: 100%;
  height:500px;
  z-index:-1;
  background-position: 0 0;
  background-repeat: no-repeat;
}
#zone-branding-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
#zone-slider-wrapper {
  background: none repeat scroll 0 0 #FFF;
  position: absolute;
  top: 0;
  width: 100%;
}
#zone-resume-wrapper {
  background: none repeat scroll 0 0 #FFF;
}
#zone-header-wrapper {
  /*background: none repeat scroll 0 0 red;*/
}
#zone-content-wrapper {
  /*background: none repeat scroll 0 0 yellow;*/
}
#zone-postscript-wrapper {
  /*background: none repeat scroll 0 0 #7E9B95;*/
  padding:30px 0 0 0;
}
#zone-footer-wrapper {
	background: none repeat scroll 0 0 #7E9B95;
	padding:30px 0 0 0;
}
/* ZONE */
#zone-branding {
}
#zone-slider {
    height: 1000px;
    left: 50%;
    margin: 0 auto 0 -960px;
    overflow-y: hidden;
    position: absolute;
    text-align: center;
    width: 1920px;
    overflow-y: hidden;    
}
#zone-resume{
}
#zone-header {
    padding: 0px 0;
}
#region-image {
	padding:0;
	margin:0;
}
#resume{
   margin: 520px 0 0 0;
}





/*BREADCRUMB*/
#breadcrumb {
  margin: 0 0 10px;
}
#breadcrumb a {
    background: none repeat scroll 0 0 #DDDDDD;
    color: #444444;
    float: left;
    padding: 0.2em 1.2em;
    position: relative;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#breadcrumb a:hover {
  background: #efc9ab;
}
#breadcrumb .breadcrumb-inner{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  width: 100%;
}
.breadcrumb-inner li{
  float: left;
  margin: 5px 15px;
}
#breadcrumb a:before, #breadcrumb a:after {
    -moz-transform: skew(-10deg);
    background: none repeat scroll 0 0 #DDDDDD;
    bottom: 0;
    content: "";
    position: absolute;
    top: 0;
    width: 1em;
}
#breadcrumb a:hover:before, #breadcrumb a:hover:after {
  background: #efc9ab;
}
#breadcrumb a:after {
    border-radius: 0 5px 5px 0;
    right: -0.5em;
}
#breadcrumb a:before {
    border-radius: 5px 0 0 5px;
    left: -0.5em;
}



/*TOP MENU*/
#top-menu {
	float: right;
	list-style: none outside none;
	margin: 0;
	padding: 5px 0 0;
}
#top-menu li {
    list-style: none outside none;
    float: right;
	color: #B56B43;
	font-size: 18px;
	height: 30px;
}
#top-menu li a {
  color:#000;
  margin: 10px;
}
#top-menu li a:hover{
	color:#B56B43;
}
#top-menu li span{
	margin:5px 2px;
	padding:0;
	font-size: 22px;
}
#top-menu li .left {
    -moz-transition: all 0.2s ease-in-out 0s;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
}
#top-menu li .right {
    float: right;
    margin: 10px 20px 0 0;
}
#top-menu li.first .right {
    margin: 10px 0px 0 0;
}
#top-menu li.mail .left {
	background: url("/sites/all/themes/poly/img/icones.png") no-repeat scroll 0px 0 transparent;
}
#top-menu li.phone .left {
	background: url("/sites/all/themes/poly/img/icones.png") no-repeat scroll -30px -30px transparent;
}
#top-menu li.appointement .left {
	background: url("/sites/all/themes/poly/img/icones.png") no-repeat scroll -60px 0 transparent;
}
#top-menu li.computer .left {
	background: url("/sites/all/themes/poly/img/icones.png") no-repeat scroll -90px 0 transparent;
}
#top-menu li:hover.mail .left {
  background-position: 0 -30px;
}
#top-menu li:hover.appointement .left {
  background-position: -60px -30px;
}
#top-menu li:hover.computer .left {
  background-position: -90px -30px;
}



/*MAIN MENU*/
#menu {
  list-style:none;
  margin:30px auto 0px auto;
  height:43px;
  float: right;
  height: 50px;
  list-style: none outside none;
  margin: 80px 0 0;
  padding: 0;
  width: 800px;
}
#menu ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li {
	float:right;
	display:block;
	text-align:center;
	position:relative;
    margin: 0 0 0 48px;
	padding: 10px 0 30px;
	border:none;
}
#menu li a {
	font-size:20px; 
	color: #000;
	display:block;
	outline:0;
	text-decoration:none;
}
#menu li div a {
	font-size:15px;
	color:#015b86;
}
#menu li ul li {
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li li.box {
	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li li:hover {
	background:#ffffff;
	border:1px solid #000;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
#menu .dropdown_column_1, 
#menu .dropdown_column_2, 
#menu .dropdown_column_3, 
#menu .dropdown_column_4,
#menu .dropdown_column_5 {
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 15px 5px;
	margin:10px 0;
	border-top:none;
	z-index:10;
    background: none repeat scroll 0 0 #dde6e4;
}
#menu .dropdown_column_1 {width: 140px;}
#menu .dropdown_column_2 {width: 280px;}
#menu .dropdown_column_3 {width: 395px;}
#menu .dropdown_column_4 {width: 590px;}
#menu .dropdown_column_5 {width: 700px;}
#menu li.sfHover .dropdown_column_1, 
#menu li.sfHover .dropdown_column_2, 
#menu li.sfHover .dropdown_column_3,
#menu li.sfHover .dropdown_column_4,
#menu li.sfHover .dropdown_column_5 {
	left:0px;
	top:auto;
}
#menu .col_1,
#menu .col_2,
#menu .col_3,
#menu .col_4,
#menu .col_5 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
#menu .last {
}
#menu .col_1 {width:120px;}
#menu .col_2 {width:270px;}
#menu .col_3 {width:410px;}
#menu .col_4 {width:550px;}
#menu .col_5 {width:690px;}
#menu .menu_right {
	float:right;
	margin-right:0px;
}

#menu li.sfHover .align_right ,
#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}
#menu li.sfHover .align_left ,
#menu li:hover .align_left {
	right:auto;
	left:-1px;
	top:auto;
}
#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:15px;
	text-align:left;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}
#menu li:hover div a:hover {
	color:#B56B43;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}







/* VIEW view-service-list */
.mosaic-block {
    background: url("../img/progress.gif") no-repeat scroll center center #FFF;
    border: 1px solid #7E9B95;
    float: left;
    height: 180px;
    margin: 10px 45px 10px 0;
    overflow: hidden;
    position: relative;
    width: 360px;
}
.mosaic-block .mosaic-backdrop {
	display:none;
	position:absolute;
	top:0;
	height:100%;
	width:100%;
}
.mosaic-block .mosaic-overlay {
	display:none;
	z-index:5;
	position:absolute;
	width:100%;
	height:100%;
}
.bar .mosaic-overlay {
    background: url("../img/bg-white.png") repeat scroll 0 0 transparent;
    bottom: -140px;
    height: 170px;
    padding: 15px 10px 0;
}
.mosaic-block a {
	font-size:15px;
	font-weight:light;
}
.mosaic-block a .field-content{
	color:#000;
	padding:0 10px 0 0;
}

.mosaic-block h4 {
	margin-bottom: 5px;
	font-weight: lighter;	
}



/* VIEW view-doctors-list */
.view-doctors-list {
}
.view-doctors-list .views-row {
	margin:10px 0 15px;
}
.view-doctors-list .views-row .image{
}
.view-doctors-list .views-row .text{
}






















/*NODE DOCTOR*/
.node-doctor .field-group-format {
    background: none repeat scroll 0 0 #ECF1F0;
    font-size: 18px;
    font-weight: lighter;
    padding: 0 20px;
}
.node-doctor .field-type-image{
	float:left;
}
.node-doctor .field-name-field-doctor-name{
	padding:10px;
}
.node-doctor .field-name-field-service{
}
.node-doctor .field-label{
	width:200px;
}







/*RESUME*/
#resume h2 {
    font-size: 35px;
    font-weight: bold;
    text-align: left;
}
#resume .grid-4 {
  text-align:center;
}
#resume h2 a{
  color:#7E9B95;
  text-decoration:none;
  cursor:pointer;
}
#resume h2 a span{
  color:#B56B43;
}
#resume h2 a:hover{
  color:#B56B43;
}
#resume h2 a:hover span{
  color:#7E9B95;
}
#resume .text {
  text-align:left;
}


/*MENU DEFAULT USE IN BOTTOM*/
ul.menu {
    border: medium none;
    list-style: none outside none;
    text-align: left;
}
ul.menu li{
    list-style: none outside none;
}
ul.menu li a{
    list-style: none outside none;
}






/*BRANDER*/
.site-name-slogan {
	display:none;
}


/* VIEW NEWS*/
.view-news-list .views-row {
	margin:0 0 30px 0;
}
.view-news-list .postdate {
    border-bottom-width: 0;
    float: left;
    height: 80px;
    position: relative;
    width: 85px;
    margin:0 15px 0 0;
}
.view-news-list .month, 
.view-news-list .day, 
.view-news-list .year {
    background-image: url("/sites/all/themes/poly/img/dates.png");
    background-repeat: no-repeat;
    position: absolute;
    text-indent: -1000em;
}
.view-news-list .year {
    bottom: 0;
    height: 75px;
    right: 0;
    width: 30px;
}
.view-news-list .month {
    height: 40px;
    left: 0;
    top: 2px;
    width: 55px;
}
.view-news-list .day {
    height: 30px;
    left: 0;
    top: 40px;
    width: 55px;
}
.m-01{background-position:0 0px}.m-02{background-position:0 -40px}.m-03{background-position:0 -80px}.m-04{background-position:0 -120px}.m-05{background-position:0 -160px}.m-06{background-position:0 -200px}.m-07{background-position:0 -240px}.m-08{background-position:0 -280px}.m-09{background-position:0 -320px}.m-10{background-position:0 -360px}.m-11{background-position:0 -400px}.m-12{background-position:0 -440px}
.d-01{background-position: -55px 0;}.d-02{background-position: -55px -30px;}.d-03{background-position: -55px -60px;}.d-04{background-position: -55px -90px;}.d-05{background-position: -55px -120px;}.d-06{background-position: -55px -150px;}.d-07{background-position: -55px -180px;}.d-08{background-position: -55px -210px;}.d-09{background-position: -55px -240px;}.d-10{background-position: -55px -270px;}.d-11{background-position: -55px -300px;}.d-12{background-position: -55px -330px;}.d-13{background-position: -55px -360px;}.d-14{background-position: -55px -390px;}.d-15{background-position: -55px -420px;}.d-16{background-position: -55px -450px;}
.d-17{background-position: -115px 0;}.d-18{background-position: -115px -30px;}.d-19{background-position: -115px -60px;}.d-20{background-position: -115px -90px;}.d-21{background-position: -115px -120px;}.d-22{background-position: -115px -150px;}.d-23{background-position: -115px -180px;}.d-24{background-position: -115px -210px;}.d-25{background-position: -115px -240px;}.d-26{background-position: -115px -270px;}.d-27{background-position: -115px -300px;}.d-28{background-position: -115px -330px;}.d-29{background-position: -115px -360px;}.d-30{background-position: -115px -390px;}.d-31{background-position: -115px -420px;}
.y-2012{background-position: -170px 0;}.y-2013{background-position: -170px -80px}.y-2014{background-position: -170px -160px}.y-2015{background-position: -170px -240px}.y-2016{background-position: -170px -320px}
.view-news-list h3 {
  margin-bottom: 5px;
}
.view-news-list h3 a{
  color:#58585A;
  text-decoration:none;
}



/*WHAT CAN WE DO*/
#block-block-8 {
    color: #000000;
    margin: 0;
}
#block-block-8 h2{
	font-size:30px;
	margin:0 0 10px 0;
}
#block-block-8 ul{
	padding:1px;
}

/* ONLINE SERVICE */
#block-block-8 ul li {
    color: #B56B43;
    font-size: 18px;
    height: 30px;
    list-style: none outside none;
    padding: 10px 0;
	cursor: pointer;    
}
#block-block-8 ul li span {
  	-moz-transition: all 0.2s ease-in-out 0s;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    background: url("/sites/all/themes/poly/img/icones.png") no-repeat scroll -90px 0 transparent;
}
#block-block-8 li.doctor span {
    background-position: -121px -32px;
}
#block-block-8 li:hover.doctor span {
    background-position: -121px 0px;
}
#block-block-8 li.appointment span {
    background-position: -60px -33px;
}
#block-block-8 li:hover.appointment span {
    background-position: -60px 0px;
}
#block-block-8 li.contact span {
    background-position: -200px -30px;
}
#block-block-8 li:hover.contact span {
    background-position: -200px 0px;
}
#block-block-8 li.map span {
    background-position: -190px -30px;
}
#block-block-8 ul li a {
    margin: 10px 20px 0 3px;
}
#block-block-8 ul li a:hover,
#block-block-8 ul li:hover a{
	color: #000000;
}


/* Header Style */
.header{
    font-family:'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
    font-size: 11px;
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 9999;
    position: relative;
    -moz-box-shadow: 1px 0px 2px #000;
    -webkit-box-shadow: 1px 0px 2px #000;
    box-shadow: 1px 0px 2px #000;
}
.header a{
    padding: 0px 10px;
    letter-spacing: 1px;
    color: #ddd;
    display: block;
    float: left;
}
.header a:hover{
    color: #fff;
}
.header span.right{
    float: right;
}
.header span.right a{
    float: none;
    display: inline;
}
.demos{
    position:relative;
    z-index: 1000;
    text-align:center;
	float: right;
	padding: 10px;
}
.demos a{
    display: inline-block;
    padding: 4px 6px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
	font-family: Arial;
    font-size: 11px;
	-webkit-font-smoothing:antialiased;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.demos a:hover{
    color: #fff;
    background: #c90047;
}
.demos a.current-demo,
.demos a.current-demo:hover{
    font-weight: bold;
    background: #c90047;
    color: #fff;
	cursor: default;
}


h2.ss-subtitle{
    padding: 10px 10px 40px;
    font-size: 52px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
	position: relative;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
h2.ss-subtitle:before{
	width: 4px;
	height: 40px;
	background: rgba(17,17,22,0.8);
	content: '';
	position: absolute;
	right: 75%;
	margin-right: -4px;
	bottom: -4px;
	-moz-border-radius: 2px 2px 0px 0px;
	-webkit-border-radius: 2px 2px 0px 0px;
	border-radius: 2px 2px 0px 0px;
}
h2.ss-subtitle:after{
	width: 25%;
	height: 0px;
	border-bottom: 4px dotted rgba(17,17,22,0.8);
	content: '';
	position: absolute;
	right: 50%;
	margin-right: -1px;
	bottom: -4px;
}

















.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}






/*
*	AnythingSlider v1.7+ Default (base) theme
*/
/*****************************
  SET DEFAULT DIMENSIONS HERE
 *****************************/
/* change the ID to match your slider */
div.anythingSlider {
    padding: 0;
    position: relative;
    height: 1000px;
    margin: 0 auto !important;
    overflow: hidden;
    padding: 0 !important;
    width: 1920px;
}
.front div.slider-text {
    height: 300px;
    position: absolute;
    width: 400px;
}
div.slider-text div.bottom {
    margin-top: 80px !important;
}

div.slider-text div.top {
    margin-top: 80px !important;
}

div.slider-text div.right {
    float: right;
    text-align: right;
}

div.slider-text div.left {
    float: left;
    text-align: left;
}


div.slider-text h2{
    color: #7E9B95;
    font-size: 55px;
    font-weight: normal !important;
    letter-spacing: 4px;
    line-height: 59px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

div.slider-text p{
}

/*****************
  SET COLORS HERE
 *****************/
/**** Default state (no keyboard focus) ****/
/* slider window - top & bottom borders, default state */
div.anythingSlider .anythingWindow {
}
/* Navigation buttons, default state */
div.anythingSlider .anythingControls ul a.cur, div.anythingSlider .anythingControls ul a {
}
/* start-stop button, stopped, default state */
div.anythingSlider .start-stop {
}
/* start-stop button, playing, default state */
div.anythingSlider .start-stop.playing {
}
/* start-stop button, default hovered text color (when visible) */
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
}

/**** Active State (slider has keyboard focus) ****/
/* slider window - top & bottom borders, active state */
div.anythingSlider.activeSlider .anythingWindow {
}
/* Navigation buttons, active state */
div.anythingSlider.activeSlider .anythingControls ul a.cur, div.anythingSlider.activeSlider .anythingControls ul a {
}
/* start-stop button, stopped, active state */
div.anythingSlider .start-stop {
}
/* start-stop button, playing, active state */
div.anythingSlider .start-stop.playing {
}
/* start-stop button, active slider hovered text color (when visible) */
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
}

/***********************
  COMMON SLIDER STYLING
 ***********************/
/* Overall Wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider {
	display: block;
	margin: 0 auto;
	overflow: visible !important; /* needed for Opera and Safari */
	position: relative;
	padding: 0 45px 28px 45px;
}
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* anythingSlider base (original element) */
.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
/* all panels inside the slider */
.anythingBase .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
.anythingBase .panel.vertical {
	float: none;
}

/* Navigation Arrows */
div.anythingSlider .arrow {
	top: 50%;
	position: absolute;
	display: block;
}
div.anythingSlider .arrow a {
	display: block;
	height: 140px;
	margin: -70px 0 0 0; /* half height of image */
	width: 45px;
	text-align: center;
	outline: 0;
	background: url(../images/default.png) no-repeat;
}
/* hide text, target the span so IE7 doesn't text-indent the link */
div.anythingSlider .arrow a span { display: block; visibility: hidden; }
/* back arrow */
div.anythingSlider .back { left: 0; }
div.anythingSlider .back a { background-position: left top; }
div.anythingSlider .back a:hover, div.anythingSlider .back a.hover { background-position: left -140px; }
div.anythingSlider .back.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
/* forward arrow */
div.anythingSlider .forward { right: 0; }
div.anythingSlider .forward a { background-position: right top; }
div.anythingSlider .forward a:hover, div.anythingSlider .forward a.hover { background-position: right -140px; }
div.anythingSlider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */

/* Navigation Links */
div.anythingSlider .anythingControls { outline: 0; display: none; }
div.anythingSlider .anythingControls ul { margin: 0; padding: 0; float: left; }
div.anythingSlider .anythingControls ul li { display: inline; }
div.anythingSlider .anythingControls ul a {
	font: 11px/18px Georgia, Serif;
	display: inline-block;
	text-decoration: none;
	padding: 2px 8px;
	height: 18px;
	margin: 0 5px 0 0;
	background-image: url(../images/default.png);
	background-position: center -288px ;
	background-repeat: repeat-x;
	text-align: center;
	outline: 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
div.anythingSlider .anythingControls ul a:hover {
	background-image: none;
}
/* Navigation size window */
div.anythingSlider .anythingControls .anythingNavWindow { overflow: hidden; float: left; }

/* slider autoplay right-to-left, reverse order of nav links to look better */
div.anythingSlider.rtl .anythingControls ul a { float: right; } /* reverse order of nav links */
div.anythingSlider.rtl .anythingControls ul { float: left; }    /* move nav link group to left */
div.anythingSlider.rtl .anythingWindow {
	direction: ltr;
	unicode-bidi: bidi-override;
}
/* div.anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides */

/* Autoplay Start/Stop button */
div.anythingSlider .start-stop {
	background-image: url(../images/default.png);
	background-position: center -288px;
	background-repeat: repeat-x;
	padding: 2px 5px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	float: right;
	z-index: 100;
	outline: 0;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
}
/* hide cell shading on hover - makes the button appear to come forward */
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover { background-image: none; }

/* probably not necessary, but added just in case */
div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .anythingControls ul a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}		




/*FOOTER*/
#zone-footer .region {
	min-height:400px;
}
#zone-footer h2 {
    -moz-transition: all 0.2s ease-in-out 0s;
    background: url("/sites/all/themes/poly/img/icones_large.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: block;
    font-size: 40px;
    font-weight: lighter;
    height: 15px;
    margin: 0 200px 20px 0;
    padding: 14px 5px 20px;
    text-indent: 27px;
    width: 20px;
}
#zone-footer ul {
    list-style: none outside none;
    margin: 20px 0 0;
    padding: 0;
}
#zone-footer ul a{
	color:#FFFFFF;
}
#zone-footer ul a:hover{
	color:#B56B43;
}
#region-footer-first h2 {
	background-position: -100px -50px;
}
#zone-footer #region-footer-first.hover h2 {
    background-position: -100px 0px;
	color:#B56B43;
}
#region-footer-second h2 {
    background-position: -66px -50px;
}
#zone-footer #region-footer-second.hover h2 {
    background-position: -66px -1px;
	color:#B56B43;
}
#region-footer-third h2 {
	background-position: -35px -50px; 
}
#zone-footer #region-footer-third.hover h2 {
	background-position: -35px -2px;
	color:#45b0e3;
}
#region-footer-fourth h2 {
	background-position: 5px -50px; 
}
#zone-footer #region-footer-fourth.hover h2 {
	background-position: 5px -2px;
    color:#39599f;
}
#region-footer-third li {
    background: url("/sites/all/themes/poly/img/quotes.png") no-repeat scroll 0 4px transparent;
	margin: 0;
    padding-left: 30px;
}
#zone-footer .social li {
    padding: 10px 0;
    text-indent: 50px;
}
#zone-footer .social li a {
    -moz-transition: all 0.2s ease-in-out 0s;
    background: url("/sites/all/themes/poly/img/icones.png") no-repeat scroll -90px 0 transparent;
    display: block;
    height: 20px;
    padding: 7px 0 0;
    width: 40px;
}
#zone-footer .social li.twitter a {
    background-position: -222px -30px;
}
#zone-footer .social li.twitter:hover a {
    background-position: -222px 0px;
    color:#45b0e3;
}
#zone-footer .social li.facebook a {
    background-position: -147px -30px;
}
#zone-footer .social li.facebook:hover a {
    background-position: -147px 0px;
    color:#39599f;
}












/*contact-site-form*/
#contact-site-form .form-item {
    margin-bottom: 0.688em;
    position: relative;
}

#contact-site-form label {
    font-family: museo-sans-rounded,"Helvetica Neue",Verdana,sans-serif;
    font-weight: 300;
    margin: 1px 2px;
    padding: 0.688em;
    position: absolute;
    top: 0;
}
#contact-site-form label.bin {
	opacity:0.25;
}
#contact-site-form textarea ,
#contact-site-form input[type="text"] {
    background: -moz-linear-gradient(#FBFBFA, #FBFBFA) repeat scroll 0 0 #FBFBFA;
    border: 1px solid #CBC9C5;
    border-radius: 4px 4px 4px 4px;
    color: #2D2D2D;
    font-family: museo-sans-rounded,"Helvetica Neue",Verdana,sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.375em;
    outline: medium none;
    padding: 0.688em;
    width: 90%;
}
#contact-site-form .grippie {
	display:none;
}
#contact-site-form input[type="submit"] {
    background: -moz-linear-gradient(center top , #848484, #848484) repeat scroll 0 0 #848484;
    border: 1px solid #848484;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: museo-sans-rounded,"Helvetica Neue",Verdana,sans-serif;
    font-size: 1.125em;
    font-weight: 300;
    outline: medium none;
    padding: 0.611em 1.222em;
    position: relative;
    text-decoration: none;
    text-shadow: none;
}


/*service_text*/
#service_text {
    margin: 200px 0 0;
}


.node-type-page .field-name-body {
	float:left;
	width:60%
}
.node-type-page .field-name-field-more-info {
	float:right;
	width:30%
}
.node .field-collection-container {
	float:left;
	width:10%;
	border-bottom: 0 none;
}


.s_widget_holder {
    float: right;
    padding: 10px 0;
    position: absolute;
    top: 0;
}
.s_widget_holder iframe{
height: 320px;	
    width: 260px;
}



#block-views-doctors-list-block-2 td, th {
//    padding: 10px 0;
//    vertical-align: middle;
}


#zone-copyright {
    color: #FFFFFF;
    font-size: 10px;
}
#zone-copyright a{
	color:#000;
}
#zone-copyright a:hover{
	color:#B56B43;
}


#block-views-doctors-list-block-1 {
    background-color: #ECF1F0;
    font-size: 13px;
    margin: 60px 0 0;
    opacity: 0.9;
}
#block-views-doctors-list-block-1 h3{
	padding:0;
	margin:0;
	font-size:18px;
}
#block-views-doctors-list-block-1 .views-row {
    padding: 0 0 40px;
}
#block-views-doctors-list-block-1 .left{
	width:70px;
	float:left;
}
#block-views-doctors-list-block-1 .right{
	width:280px;
	float:right;
}



.page-doctors-list .view-id-doctors_list .item-list {
	float:left;
	width:48%;
	border:1px solid #7E9B95;
	margin:3px;
	padding:3px;
}
.page-doctors-list .view-id-doctors_list .item-list .views-row {
	padding:0 0 10px 0;
}
.page-doctors-list .view-id-doctors_list .item-list .image {
	float:left;
	width:20%;
}
.page-doctors-list .view-id-doctors_list .item-list .text {
	float:right;
	width:80%;
}

.view-doctors-list td, 
.view-doctors-list th {
    padding: 4px 5px;
    vertical-align: middle;
}




.fc-end-event-time,
.fc-start-event-time,
.fc-event-time,
.fc-event-title {
	padding: 0 1px;
	}
	
.fc-end-event-time {
	float:right;
}
.fc-event-title {
	align:center;
	font-size:12px;
	font-weight:bolder;
}