/* This file will hold styles that are loaded using the same media query as the wide grid. */
.views-row-3 .mosaic-block,
.views-row-6 .mosaic-block,
.views-row-9 .mosaic-block,
.views-row-12 .mosaic-block,
.views-row-15 .mosaic-block,
.views-row-18 .mosaic-block,
.views-row-21 .mosaic-block {
	    margin: 10px 0 10px 0;
}

.slider-text {
    margin: 200px 0 0 370px;
}

.node-type-service .slider-text {
    margin: 120px 0 0 0;
}